@model TareaExamenFrame.Models.avila

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>avila</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Friendofavila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friendofavila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.avilaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
